.welcome {
    margin: 50px 0px 100px 50px;
    font-size: 3rem;
}

.form-field {
    border: none;
    border-bottom: solid black 2px;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.btn {
    margin: 30px;
}

.single_text {
    margin-left: 20px;
}

.navbar {
    padding: 0;
    background-color: rgb(1, 1, 37);
}

.navbar-music {
    background-color: rgb(1, 1, 37);
    color: white;
    margin: 0;
}

.navbar-music a {
    color: white;
}

.music-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.music-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.add-music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-music button {
    margin-top: 30px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    width: 200px;
}

.artist-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.artist-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.add-artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-artist button {
    margin-top: 30px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    width: 200px;
}

.inscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}