{% extends 'base.html.twig' %}

{% block style %}
    <link rel="stylesheet" href="css/styles.css">
{% endblock %}

{% block body %}
    <h1 class="music-head">Ajouter une musique</h1>

    <div class="music-form">

        {{ form_start(formMusique ) }}

        {{ form_widget(formMusique) }}

        <div class="add-music">
            <button type="submit" class="add-music">Ajouter la musique</button>
        </div>
        {{ form_end(formMusique ) }}

    </div>
{% endblock %}