{% extends 'base.html.twig' %}


{% block body %}

    <h1 class="welcome">Bienvenue</h1>

    <div class="container-fluid mx-auto">

        {% for musique in musiques %}
            <div>
                <h2>{{ musique.title }}</h2>
                    <ul>
                        <li> Artiste : {{ musique.artist }}</li>
                        <li> Genre : {{ musique.genre }}</li>
                        <li> Date de sortie : {{ musique.releaseDate }}</li>
                    </ul>
            </div>
        {% endfor %}

    </div>
{% endblock %}