{% extends 'base.html.twig' %}


{% block body %}

    <h1 class="welcome">Bienvenue</h1>

    <div class="container-fluid mx-auto">

        <p>Sur ce site vous pouvez ajouter des musiques et des artistes de votre choix, puis les consulter !</p>

    </div>
{% endblock %}