{% extends 'base.html.twig' %}


{% block body %}

    <h1 class="welcome">Liste des artistes</h1>

    <div class="container-fluid mx-auto">

        {% for artist in artists %}
            <div>
                <ul>
                    <li>{{ artist.name }}</li>
                </ul>
            </div>
        {% endfor %}

    </div>
{% endblock %}